.device {
  font-family: 'tele-bold';
}
.device-price {
  color: #43b02a;
}
.add-btn {
  width: 100%;
  background-color: #57aee4;
  color: white;
  border: 0;
  padding: 5px 0;
  box-shadow: 0px 5px 1px -1px rgba(0, 0, 0, 0.2);
  transition: transform 0.7s ease box-shadow 0.7s ease;
}
.add-btn:active {
  transform: translateY(2px);
  box-shadow: none;
}
.info-tool-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #e0e0e0;
  bottom: 80px;
  right: 10px;
  border-radius: 50%;
  border: none;
  height: 45px;
  width: 45px;
}
.info-icon {
  font-size: 2rem;
  color: #57aee4;
}
